gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Keystore — อย่า commit ขึ้น repo เด็ดขาด
key.properties
**/*.keystore
**/*.jks
**/*.jks.old